@import "src/assets/colors";

.hookesItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 10px;
  gap: 12px;
  background-color: $itemsBackground;
  border-radius: 12px;

  &__text {
    color: $textBlack;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
  }

  &__image {
    border-radius: 50%;
  }
}
